export/
source/GJKeys.hx
*.zip
art/voicebanks and chromatic scales/teotm/
art/voicebanks and chromatic scales/emerald/
art/voicebanks and chromatic scales/chill grunt
# Sorry, Teo and Emerald chromatics will probably never be public